<nav class="w-full flex bg-gray-300 items-center p-5 justify-between fixed">
    <div class="flex gap-5 items-center">
      <%= image_tag('book.png', class: 'w-12') %>
      <h3 class="font-bold text-lg text-white">The App Store</h3>
    </div>
  
    <div class="flex ">
        <%= turbo_frame_tag 'new_record_component', class: 'flex gap-5' do %>
          <%= link_to new_sell_path, id: 'sell_link', class: 'text-white font-semibold text-sm text-center bg-amber-400 text-white rounded px-4 py-2' do %>
            Add sell
          <% end %>
    
          <%= link_to new_book_path, id: 'book_link', class: 'text-white font-semibold text-sm text-center bg-cyan-400 text-white rounded px-4 py-2' do %>
            Add a new book
          <% end %>
        <% end %>
      </div>
  </nav>